#wrap {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#ui {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(25, 25, 25);
  padding: 0 0.1vw;
  width: 8vw;
}

#upper-ui-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottom-ui-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vmin;
  color: white;
  font-size: 1.5vmin;
}

.colored-text {
  color: turquoise;
  font-weight: 600;
}

.open-ui {
  width: 10vw;
}

.closed-ui {
  width: 2vw;
}

#minimize-button {
  width: 3vmin;
  height: 3vmin;
  border-radius: 16px;
  background-color: rgb(25, 25, 25);
  border: solid 0.3vmin turquoise;
  color: turquoise;
  transition: 0.3s;
}

#minimize-button:hover:enabled {
  cursor: pointer;
  background-color: #40e0d0;
  color: rgb(25, 25, 25);
}

#minimize-button:disabled {
  cursor: no-drop;
  opacity: 0.3;
}

#minimize-button:focus {
  outline: none;
}

.section-title {
  font-size: 1.6vw;
  color: white;
  margin: 4vmin 0 1vmin 0;
}

.ui-button {
  height: 4vh;
  width: 7vw;
  margin-bottom: 1.2vmin;
  border-radius: 16px;
  background-color: rgb(25, 25, 25);
  border: solid 0.3vmin turquoise;
  color: turquoise;
  font-size: 1.6vmin;
  font-weight: 600;
  transition: 0.3s;
}

.ui-button:hover:enabled {
  cursor: pointer;
  background-color: #40e0d0;
  color: rgb(25, 25, 25);
}

.ui-button:disabled {
  cursor: no-drop;
  opacity: 0.3;
}

.ui-button:focus {
  outline: none;
}

.slider-title {
  color: turquoise;
  font-size: 1.8vmin;
  font-weight: 600;
  margin-bottom: 0.6vmin;
}

.slider {
  width: 7vw;
  margin-bottom: 2vmin;
}

.slider:disabled {
  opacity: 0.5;
  background-color: rgb(25, 25, 25);
  cursor: no-drop;
}

.switch:disabled {
  cursor: no-drop;
}

.array-container {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 0.2vw;
  animation-name: closeUI;
  animation-duration: 1s;
}

.array-bar {
  width: 100%;
  background-color: white;
  margin: 0 0.12vw;
}
