#wrap {
  display: flex;
}

#buttons-container {
  display: flex;
  flex-direction: column;
}

button {
  height: 3vmin;
  margin: 0.5vmin;
}

.array-container {
  height: 100vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.array-bar {
  width: 1vw;
  background-color: lightgrey;
  margin: 0 0.1vw;
}
