#wrap {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

#buttons-container {
  display: flex;
  flex-direction: column;
}

button {
  height: 3vmin;
  margin: 0.5vmin;
}

.array-container {
  height: 100vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 1vmin;
}

.array-bar {
  width: 2vmin;
  background-color: lightgrey;
  margin: 0 0.2vmin;
}
